body {
  margin: 0;
  padding: 0;
  background: $ms-color-black;
}

.App {
  background-color: $ms-color-neutralDark;
  justify-content: center;

  /* Z-index overrides for components */
  .ms-Overlay {
    z-index: 7;
  }
}

// Element that wraps everything except for the header
.App-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $App-maximumWidth;
  box-sizing: border-box;
}

// Nav is hidden off screen by default
.App-nav {
  -webkit-overflow-scrolling: touch; // Improves scrolling performance
  bottom: 0;
  @include left(-$Nav-width);
  position: fixed;
  top: $Header-height;
  transition: $ms-duration2 $ms-ease1;
  @include transition-property(left);
  width: $Nav-width;
  min-width: $Nav-width; // @TODO: Figure out why width by itself isn't working
  overflow: auto;
}

.App-content {
  @include contentPadding(0, 0);
  background-color: $ms-color-neutralLighter;
  flex-grow: 1;
  left: 0;
  position: relative;
  transition: all $ms-duration2 $ms-ease1;
  overflow-x: hidden;

  @include high-contrast {
    border-right: 1px solid $ms-color-white;
    border-left: 1px solid $ms-color-white;
    border-bottom: 1px solid $ms-color-white;
  }
  
  @include high-contrast-black-on-white  {
    border-right: 1px solid $ms-color-black;
    border-left: 1px solid $ms-color-black;
    border-bottom: 1px solid $ms-color-black;
  }

}

// Show the nav at all times, to the left of the content
@media screen and (min-width: $ms-screen-xl-min) {
  .App-wrapper {
    flex-direction: row;
  }

  .App-nav {
    @include left(auto);
    top: auto; // Mobile nav bar is no longer there
    position: relative;
  }

  .App-content {
    margin-top: 0; // Mobile nav bar is no longer there
    flex-grow: unset;
    width: calc(100% - #{$Nav-width});
  }
}