#design {
  .pageHeader,
  .content {
    background-color: $color-getStarted;
  }
}

//== Instructions section

.instructionsSection {
  @include fullWidth();
  @include contentPadding(20px, 40px);
  max-width: 60em;
  
  // Push the second set of instructions down
  h2:not(:first-child) {
    margin-top: 120px;
  }
  
  h2 + p {
    font-size: $ms-font-size-l;
  }
  
  a {
    color: $color-getStarted-medium;
  }
}

.steps {
  counter-reset: li; // Start a counter of list items
  max-width: 65em;
  margin: 60px auto;
  @include margin-right(0);

  li {
    list-style: none; // Remove the usual numbers
    position: relative;
    padding-bottom: 24px;
    padding-top: 56px;

    &:not(:last-child) {
      border-bottom: 1px solid $ms-color-neutralTertiaryAlt;
      margin-bottom: 48px;
    }

    &::before {
      color: $color-getStarted-dark;
      content: counter(li); // Display counter
      counter-increment: li; // Increment based on list item
      font-size: $font-size-biggest;
      font-weight: $ms-font-weight-light;
      line-height: 38px; // Align top of number with top of list item
      position: absolute;
      top: 0;
    }
  }

  code {
    margin: 16px 0;
  }
}

@media screen and (min-width: $ms-screen-lg-min) {
  .instructionsSection {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .steps {
    li {
      @include padding-left(56px);
      padding-top: 0;

      &::before {
        @include left(0);
      }
    }
  }
}