.nav {
  padding-top: 20px;
  @include padding-right(12px);
  padding-bottom: 60px;
  @include padding-left(36px);
}

.link {
  position: relative;
  margin-bottom: 12px;

  a {
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    color: $ms-color-neutralSecondary;
    
    &:hover {
      color: $ms-color-neutralPrimary;
      font-weight: $ms-font-weight-semibold;
    }
  }

  &.isActive,
  &:hover {
    &::before {
      content: '';
      width: 2px;
      height: 20px;
      background: $color-home-medium;
      position: absolute;
      top: 3px;
      @include left(-16px);
    }
  }
}