<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Office UI Fabric JS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="https://devofficecdn.azureedge.net/themes/DevOffice/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="https://cdn.graph.office.net/prod/Scripts/fabric-js/fabric.min.js"></script>
  <link rel="stylesheet" href="https://graphstagingblobstorage.blob.core.windows.net/staging/css/fabric-js/styles.min.css" />
  <link rel="stylesheet" href="https://graphstagingblobstorage.blob.core.windows.net/staging/css/fabric-js/fabric.min.css" />
  <link rel="stylesheet" href="https://graphstagingblobstorage.blob.core.windows.net/staging/css/fabric-js/fabric.components.min.css" />
  <script type="text/javascript" src="https://cdn.graph.office.net/prod/Scripts/fabric-js/scrollTo.js"></script>
  {{#if pageInfo.isDatePicker}}
  <script type="text/javascript" src="https://cdn.graph.office.net/prod/Scripts/fabric-js/jquery.js"></script>
  <script type="text/javascript" src="https://cdn.graph.office.net/prod/Scripts/fabric-js/PickaDate.js"></script>
  {{/if}}
</head>
<body>
  <div class="main">
    <div class="ms-Fabric ms-font-m App">
      <div class="App-wrapper">
        <div class="App-nav">
          <nav class="nav">
            <ul class="links">
              <% components.forEach(function(component) { %>
              <li class="link">
                <a href="{{relativePath}}components/<%= component.name %>/<%= component.name %>" data-url="components/<%= component.name %>/<%= component.name %>.htm"><%= component.title %></a>
              </li>
              <% }); %>
            </ul>
          </nav>
        </div>
        <div id="mainContent" class="App-content">
          {{ renderDocPage props=props }}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (function(){
      // Highlight current component link in SideBar navigation.
      function navLinkHighlight() {
        const ALL_NAV_LINKS = document.querySelectorAll(".nav .link > a");
        const NAV_LINKS_LIST = document.querySelector(".links");
        const URL_PATH = window.location.pathname;

        if (URL_PATH.indexOf("components") > -1) {
          NAV_LINKS_LIST.classList.add("showLinkList")
        }

        for (var i = 0; i < ALL_NAV_LINKS.length; i++) {
          var targetURL = ALL_NAV_LINKS[i].getAttribute("data-url")
          var indexOfTarget = URL_PATH.indexOf(targetURL);
          if (indexOfTarget > -1) {
            ALL_NAV_LINKS[i].parentNode.classList.add("isActive");
          }
        }
      }

      navLinkHighlight();

      // Add isAttached to pageHeader on scroll
      const FULL_HEADER_HEIGHT = 236;
      const ATTACHED_HEADER_HEIGHT = 128;
      const SCROLL_THRESHHOLD = FULL_HEADER_HEIGHT - ATTACHED_HEADER_HEIGHT;
      var isAttached;
      const pageHeader = document.querySelector('.pageHeader');
      if (pageHeader) {
        window.onscroll = checkHeaderAttachment;
        checkHeaderAttachment();

        function checkHeaderAttachment() {
          var scroll = window.scrollY || document.documentElement.scrollTop;
          if (scroll >= SCROLL_THRESHHOLD) {
            isAttached = true;
            if (!pageHeader.classList.contains('isAttached')) {
              pageHeader.classList.add('isAttached');
            }
          } else {
            isAttached = false;
            if (pageHeader.classList.contains('isAttached')) {
              pageHeader.classList.remove('isAttached');
            }
          }
        }
      }

    })();
  </script>
</body>
</html>